[Desktop Entry]
Name=MX Find Shares
Comment=Find Network Shares
Icon=/usr/share/pixmaps/mx/mx-findshares.xpm
Exec=mx-findshares
NoDisplay=false
Categories=System;
Terminal=false
Type=Application
