[Desktop Entry]
Name=MX Find Shares
Name[am]=MX ማካፈያ መፈለጊያ
Name[ar]=MX Find Shares
Name[bg]=MX Find Shares
Name[ca]=MX Find Shares
Name[cs]=MX Vyhledávač sdílení
Name[da]=MX Find delinger
Name[de]=MX Find Shares
Name[el]=MX Find Shares
Name[es]=MX Recursos compartidos
Name[et]=MX Find Shares
Name[eu]=MX Find Shares
Name[fa]=MX Find Shares
Name[fi]=MX Find Shares
Name[fr]=MX Find Shares
Name[he_IL]=MX Find Shares
Name[hi]=MX Find Shares
Name[hr]=MX Find Shares
Name[hu]=MX megosztáskereső
Name[id]=MX Find Shares
Name[is]=MX Find Shares
Name[it]=MX Risorse Condivise
Name[ja_JP]=MX Find Shares
Name[ja]=MX Find Shares
Name[kk]=MX Find Shares
Name[ko]=MX Find Shares
Name[lt]=MX rasti viešinius
Name[mk]=MX Find Shares
Name[mr]=MX Find Shares
Name[nb]=MX Find Shares
Name[nl]=MX Zoek Shares
Name[pl]=MX Znajdź udziały
Name[pt_BR]=MX Detector de Compartilhamentos
Name[pt]=MX-Detector de Partilhas
Name[ro]=MX Find Shares
Name[ru]=MX Поиск общих ресурсов
Name[sk]=MX Vyhľadávač zdieľaní
Name[sl]=MX Najdi vire v skupni rabi
Name[sq]=MX Find Shares
Name[sr]=MX Find Shares
Name[sv]=MX Find Shares
Name[tr]=MX Find Shares
Name[uk]=MX Find Shares
Name[zh_CN]=MX Find Shares
Name[zh_TW]=MX 尋找分享
Comment=Find Network Shares
Comment[am]=የ ኔትዎርክ ማካፈያ መፈለጊያ
Comment[ar]=Find Network Shares
Comment[bg]=Find Network Shares
Comment[ca]=Troba recursos compartits de xarxa
Comment[cs]=Hledat sdílení v síti
Comment[da]=Find netværksdelinger
Comment[de]=Netzwerkfreigaben finden
Comment[el]= Κοινή χρήση δικτύου
Comment[es]=Encontrar recursos compartidos de red
Comment[et]=Find Network Shares
Comment[eu]=Find Network Shares
Comment[fa]=Find Network Shares
Comment[fi]=Find Network Shares
Comment[fr]=Trouver des partages réseaux
Comment[he_IL]=Find Network Shares
Comment[hi]=Find Network Shares
Comment[hr]=Find Network Shares
Comment[hu]=Hálózati megosztások keresése
Comment[id]=Find Network Shares
Comment[is]=Find Network Shares
Comment[it]=Trova condivisioni di rete
Comment[ja_JP]=Find Network Shares
Comment[ja]=ネットワーク共有を検索
Comment[kk]=Find Network Shares
Comment[ko]=Find Network Shares
Comment[lt]=Rasti tinklo viešinius
Comment[mk]=Find Network Shares
Comment[mr]=Find Network Shares
Comment[nb]=Find Network Shares
Comment[nl]=Zoek netwerkshares
Comment[pl]=Znajdź udziały w sieci
Comment[pt_BR]=Busca compartilhamentos de pastas/arquivos na rede [mx-findshares]
Comment[pt]=Detecta/encontra partilhas numa rede [mx-findshares]
Comment[ro]=Caută partiții în rețea
Comment[ru]=Найти общие сетевые ресурсы
Comment[sk]=Vyhľadať zdieľania v sieti
Comment[sl]=Najdi omežne vire, ki so na voljo za souporabo
Comment[sq]=Find Network Shares
Comment[sr]=Find Network Shares
Comment[sv]=Hitta nätverksresurser
Comment[tr]=Find Network Shares
Comment[uk]=Find Network Shares
Comment[zh_CN]=Find Network Shares
Comment[zh_TW]=尋找網路上分享出來的檔案
Icon=mx-findshares.png
Exec=mx-findshares
NoDisplay=false
Categories=System;MX-Utilities;
Terminal=false
Type=Application

