[Desktop Entry]
Name=MX Find Shares
Name[ca]=MX Find Shares
Name[de]=MX Find Shares
Name[el]=MX Find Shares
Name[es]=MX Find Shares
Name[fr]=MX Find Shares
Name[it]=MX Find Shares
Name[ja]=MX Find Shares
Name[nl]=MX Find Shares
Name[pt_BR]=MX Find Shares
Name[ro]=MX Find Shares
Name[ru]=MX Поиск общих ресурсов
Name[sv]=MX Find Shares
Comment=Find Network Shares
Comment[ca]=Trobar recursos compartits de xarxa
Comment[de]=Netzwerkfreigaben finden
Comment[el]= Κοινή χρήση δικτύου
Comment[es]=Encontrar recursos compartidos de red
Comment[fr]=Trouver des partages réseaux
Comment[it]=Trova condivisioni di rete
Comment[ja]=ネットワーク共有を検索
Comment[nl]=Zoek netwerkshares
Comment[pt_BR]=Localizar compartilhamentos de rede
Comment[ro]=Caută partiții în rețea
Comment[ru]=Найти сетевые ресурсы
Comment[sv]=Hitta nätverksresurser
Icon=/usr/share/pixmaps/mx/mx-findshares.xpm
Exec=mx-findshares
NoDisplay=false
Categories=System;
Terminal=false
Type=Application